.count{
  height: 90vh;
  width: 1000px;
}
.vote-container {
  max-width: 900px;
  height: 78vh;
  margin-top: 100px;
  padding: 14px;
  background-color: #ffffff00;
  border-radius: 8px;
  text-align: center;
}
.vote-list::-webkit-scrollbar {
  display: none;
}
.vote-title {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Century Gothic;
}

.vote-search {
  width: 70%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  font-family: Cascadia Code;
}

.vote-search:focus {
  border-color: #4f46e5;
}

.vote-empty {
  text-align: center;
  color: #6b7280;
  font-size: 16px;
}

.vote-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  height: 63vh;
  padding-bottom: 10px;
}

.vote-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.vote-card:hover {
  box-shadow: 0 4px 12px rgba(202, 22, 22, 0.08);
}

.vote-image {
  width: auto;
  margin: 5px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid #e5e7eb;
}

.vote-info {
  flex: 1;
}

.vote-name {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-align: left;
  font-family: Cascadia Code;
}

.vote-party {
  font-size: 14px;
  color: #3f3f3f;
  text-align: left;
  font-family: Cascadia Code;
}

.vote-description {
  font-size: 13px;
  color: #444444;
  margin-top: 4px;
}

.vote-count {
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  color: #10b981;
  min-width: 80px;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  border: #10b981 2px solid;
}
